In [2]:
#- csv 파일 가공
import requests
from pandas import DataFrame
from bs4 import BeautifulSoup

In [3]:
import re
from datetime import datetime
import os

1. 코로나19로 인한 감정변화

In [298]:
feel = pd.read_csv('feel.csv')

In [299]:
feel.style.highlight_max()

In [4]:
import seaborn as sns

2. 코로나19 이후 일상 활동 변화

In [29]:
life = pd.read_csv('life.csv', encoding='utf-8')

In [296]:
life.style.highlight_max()

3.디지털 역세권 – 21,20,19년도

In [249]:
#디지털 문화 역세권

'''
fclt_cnt : 시설 수 
sccnt : 검색량 
FILE_NAME : 파일명 
base_ymd : 기준일 
sgnr_nm : 시군구 
adstrd_cd : 행정동 
sccnt_ym : 년월  
mlsfc : 시설 분류
ctprvn_nm : 시군구 
'''

'\nfclt_cnt : 시설 수 \nsccnt : 검색량 \nFILE_NAME : 파일명 \nbase_ymd : 기준일 \nsgnr_nm : 시군구 \nadstrd_cd : 행정동 \nsccnt_ym : 년월  \nmlsfc : 시설 분류\nctprvn_nm : 시군구 \n'

In [266]:
Dpos = pd.read_csv('Digital.csv')

In [267]:
Dpos

,ctprvn_nm,sgnr_nm,adstrd_cd,sccnt_ym,mlsfc,fclt_cnt,sccnt,FILE_NAME,base_ymd
0,강원도,강릉시,4215061500,202001,공공도서관,4,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
1,강원도,고성군,4282025300,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
2,강원도,동해시,4217054000,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
3,강원도,삼척시,4223057000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
4,강원도,속초시,4221056000,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
...,...,...,...,...,...,...,...,...,...
768,충청북도,제천시,4315060500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
769,충청북도,증평군,4374525000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
770,충청북도,진천군,4375025000,202001,문예회관,1,896.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
771,충청북도,청주시,4311251000,202001,문예회관,2,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
772,충청북도,충주시,4313051500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101

In [268]:
# nan 값 지우기 or 0으로 나두기 
Dpos.isnull().sum()

ctprvn_nm      0
sgnr_nm        0
adstrd_cd      0
sccnt_ym       0
mlsfc          0
fclt_cnt       0
sccnt        392
FILE_NAME      0
base_ymd       0
dtype: int64

In [269]:
Dpos =Dpos.dropna()
Dpos

,ctprvn_nm,sgnr_nm,adstrd_cd,sccnt_ym,mlsfc,fclt_cnt,sccnt,FILE_NAME,base_ymd
0,강원도,강릉시,4215061500,202001,공공도서관,4,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
3,강원도,삼척시,4223057000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
21,경기도,고양시 일산서구,4128759000,202001,공공도서관,5,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
22,경기도,과천시,4129053000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
23,경기도,광명시,4121058000,202001,공공도서관,5,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
...,...,...,...,...,...,...,...,...,...
767,충청북도,음성군,4377025000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
768,충청북도,제천시,4315060500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
769,충청북도,증평군,4374525000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
770,충청북도,진천군,4375025000,202001,문예회관,1,896.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
772,충청북도,충주시,4313051500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101

In [270]:
Dpos = Dpos.drop(Dpos.columns[7], axis =1)

In [277]:
t1 = Dpos['sccnt'] >0.0

In [289]:
Dpos[t1].sort_values('sccnt', ascending = False).head(10)

    ctprvn_nm sgnr_nm   adstrd_cd  sccnt_ym  mlsfc  fclt_cnt  sccnt  base_ymd
269       강원도     횡성군  4273031000    202001    박물관         1  997.0  20200101
505     광주광역시      동구  2911073000    202001    미술관         8  964.0  20200101
770      충청북도     진천군  4375025000    202001   문예회관         1  896.0  20200101
547      전라남도     해남군  4682025000    202001    미술관         1  885.0  20200101
460       강원도     동해시  4217065000    202001    미술관         1  845.0  20200101
176     인천광역시      남구  2817770000    202001  공공도서관         7  801.0  20200101
542      전라남도     순천시  4615033000    202001    미술관         1  745.0  20200101
395     인천광역시     연수구  2818563000    202001    박물관         3  720.0  20200101
434      충청남도     금산군  4471031000    202001    박물관         4  713.0  20200101
500      경상북도     울진군  4793036000    202001    미술관         1  670.0  20200101

In [290]:
Dpos[t1].mlsfc.value_counts()

미술관      13
박물관      12
공공도서관     8
문예회관      3
Name: mlsfc, dtype: int64

In [302]:
Dpos[t1].ctprvn_nm.value_counts()

전라남도     6
경기도      5
강원도      4
충청북도     4
부산광역시    3
충청남도     3
인천광역시    3
광주광역시    3
전라북도     2
경상북도     2
서울특별시    1
Name: ctprvn_nm, dtype: int64

4. 문화역세권 시설 연령대별 관심도

In [308]:
"""
name 
___________________________
ctprvn_nm : 시도
signgu_nm : 시군구
signgu_cd : 행정동 시군구코드
residnt_cnt : 인구 수
category : 분류
age_10 : 10대 문화 지수
age_20 : 20대 문화 지수
age_30 : 30대 문화 지수
age_40 : 40대 문화 지수
age_50 : 50대 문화 지수
age_60 : 60대 문화 지수
age_70 : 70대 문화 지수
FILE_NAME : 파일명
base_ymd : 기준일

데이터 시각화 기준
1. 시도/시군구의 중요성이 그리 높지 않음 but 디지털 역세권에서 나눠져 있기 때문에 없애면 안됨 
2. 분류가 문화지를 담고 있으므로 분류 기준 10-70대의 문화 지수를 시각화 
3. 이 때 제일 높은 문화 지수와 낮은 지수의 연령별을 먼저 살펴봄
ex. 강원도 강릉시의 경우 도서관 문화지는 10,20대가 문화 지수가 공동으로 높으며 60,70대에게 제일 낮음 
박물관의 경우는 30대의 문화 지수가 높으며 60,70대에 여전히 낮은 것을 알 수 있다. 
그리고 전시관의 경우 강릉시에서는 문화지수가 대체적으로 다 낮음을 나타낸다.

서울 특별시 종로구의 경우에는 도서관 문화지는 10,20대가 문화 지수가 공동으로 높으며 60,70대에게 제일 낮음 
박물관의 경우는 30대의 문화 지수가 높으며 60,70대에 여전히 낮은 것을 알 수 있다. 
그리고 전시관의 경우 강릉시보다 높지만 문화지수가 대체적으로 다 낮음을 나타낸다.
______________________
"""

'\nname \n___________________________\nctprvn_nm : 시도\nsigngu_nm : 시군구\nsigngu_cd : 행정동 시군구코드\nresidnt_cnt : 인구 수\ncategory : 분류\nage_10 : 10대 문화 지수\nage_20 : 20대 문화 지수\nage_30 : 30대 문화 지수\nage_40 : 40대 문화 지수\nage_50 : 50대 문화 지수\nage_60 : 60대 문화 지수\nage_70 : 70대 문화 지수\nFILE_NAME : 파일명\nbase_ymd : 기준일\n\n데이터 시각화 기준 \n______________________\n'

In [303]:
age_pos = pd.read_csv('연령별_문화역세권.csv')

In [327]:
age_pos[age_pos['SIGNGU_NM'] == '강릉시']

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
0,강원도,강릉시,42150,213189,도서관,168.8,168.8,114.8,94.0,54.4,33.6,33.6,20210201
252,강원도,강릉시,42150,213189,공연장,122.5,122.5,95.0,66.5,48.0,16.0,16.0,20210201
434,강원도,강릉시,42150,213189,전시관,29.2,29.2,24.8,15.2,12.8,9.8,9.8,20210201
546,강원도,강릉시,42150,213189,박물관,170.0,170.0,229.5,185.3,125.8,90.1,90.1,20210201

In [336]:
age_pos[age_pos['CATEGORY'] == '전시관'].sort_values('AGE_10', ascending = False).head(10)

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
504,서울특별시,종로구,11110,149549,전시관,277.4,277.4,235.6,144.40,121.6,93.1,93.1,20210201
533,제주특별자치도,서귀포시,50130,181929,전시관,175.2,175.2,148.8,91.20,76.8,58.8,58.8,20210201
544,충청북도,청주시,44111,844815,전시관,131.4,131.4,111.6,68.40,57.6,44.1,44.1,20210201
534,제주특별자치도,제주시,50110,492072,전시관,131.4,131.4,111.6,68.40,57.6,44.1,44.1,20210201
479,광주광역시,동구,29110,102645,전시관,102.2,102.2,86.8,53.26,44.8,34.3,34.3,20210201
453,경기도,안산시,41273,654210,전시관,87.6,87.6,74.4,45.60,38.4,29.4,29.4,20210201
519,전라남도,진도군,46900,30748,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
502,서울특별시,용산구,11170,230151,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
497,서울특별시,서초구,11650,425431,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
459,경기도,용인시,41461,1074790,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201

In [337]:
age_pos[age_pos['SIGNGU_NM'] == '종로구']

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
164,서울특별시,종로구,11110,149549,도서관,295.4,295.4,200.9,164.5,95.2,58.8,58.8,20210201
378,서울특별시,종로구,11110,149549,공연장,3332.0,3332.0,2584.0,1808.8,1305.6,435.2,435.2,20210201
504,서울특별시,종로구,11110,149549,전시관,277.4,277.4,235.6,144.4,121.6,93.1,93.1,20210201
675,서울특별시,종로구,11110,149549,박물관,350.0,350.0,472.5,381.5,259.0,185.5,185.5,20210201

In [309]:
age_pos.isnull().sum()

CTPRVN_NM      0
SIGNGU_NM      3
SIGNGU_CD      0
RESIDNT_CNT    0
CATEGORY       0
AGE_10         0
AGE_20         0
AGE_30         0
AGE_40         0
AGE_50         0
AGE_60         0
AGE_70         0
FILE_NAME      0
BASE_YMD       0
dtype: int64

In [311]:
age_pos =age_pos.dropna()
age_pos.shape

(745, 14)

In [313]:
age_pos = age_pos.drop(age_pos.columns[12], axis =1)

In [314]:
age_pos.head()

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
0,강원도,강릉시,42150,213189,도서관,168.8,168.8,114.8,94.0,54.4,33.6,33.6,20210201
1,강원도,고성군,42820,26798,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
2,강원도,동해시,42170,90560,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
3,강원도,삼척시,42230,65409,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
4,강원도,속초시,42210,82636,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201

In [3]:
#네이버 여행 -카페

In [1]:
import requests
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import time
import re

In [5]:
"""
1."여행"를 네이버 검색에 떠서 관련도 순으로 얻은 카페 글을 수집하기
2.카페에서 "여행"이라고 검색 후 제일 인원이 많은 카페에서 기준 [1. 인기글 2.최신글 중 카테고리로 들어가서 수집하기]
"""

'\n1."여행"를 네이버 검색에 떠서 관련도 순으로 얻은 카페 글을 수집하기\n2.카페에서 "여행"이라고 검색 후 제일 인원이 많은 카페에서 기준 [1. 인기글 2.최신글 중 카테고리로 들어가서 수집하기]\n'

In [6]:
#셀레니움

driver = webdriver.Chrome("C:/Users/dajin/Anaconda3/chormdriver/chromedriver.exe")
driver.maximize_window()
driver.get("https://search.naver.com/search.naver?query="+"&nso=&where=article&sm=tab_opt")
keyword = driver.find_element_by_name("query")
keyword.send_keys("코로나 블루 + 여행")
driver.find_element_by_css_selector("#nx_search_form > fieldset > button > i").click()

n= 1
while n < 5 :
    for i in range(n*10-9,n*10+1,1):
        driver.implicitly_wait(3)
        driver.find_element_by_xpath("""//*[@id="_view_review_body_html"]/div/more-contents/div/ul/li["""+ str(i) + """]/div/div""").click()
        driver.switch_to.window(driver.window_handles[-1])
        time.sleep(5)

        html = driver.page_source
        soup = bs(html,"html.parser")

        time.sleep(2)
        driver.switch_to.frame("cafe_main")
        r = driver.page_source
        soups = bs(r, "html.parser")

        title = soups.select("div.title_area")
        print(title[0].text)
        title_data =title[0].text

        #para = soups.select("#app")[0].get_text()
        para = soups.select("div.article_viewer")[0].get_text().replace('\n', " ")
        print(para)
        #para_data = para[0].text

        #cmt = soups.select("span.text_comment")
        #print(cmt) 
        #f= open("C:/Users/dajin/2021-2 capston/네이버카페여행.txt", "a", encoding ="utf-8")
        #f.write =("제목: " + title_data)
        #f.write =(para_data)

        time.sleep(2)
        #driver.close()
        driver.switch_to.window(driver.window_handles[0])
        driver.implicitly_wait(2)
    driver.execute_script("window.scrollTo(0,900)")
    time.sleep(2)
    n +=1 
driver.close()

driver = webdriver.Chrome("C:/Users/dajin/Anaconda3/chormdriver/chromedriver.exe")
driver.get("https://section.cafe.naver.com/ca-fe/home/search/articles?q=%EC%BD%94%EB%A1%9C%EB%82%98%20%EB%B8%94%EB%A3%A8%20%2B%20%EC%97%AC%ED%96%89&p=1&pr=6")

driver.find_element_by_xpath("""//*[@id="app"]/div/div[2]/div/div[1]/div[3]/div/div[3]/ul/li["""+str(1)+"""]/div/div/div/a""")

In [ ]:
#네이버 뉴스 본문

In [ ]:
n = 1
naver_list = []
driver = webdriver.Chrome("C:/Users/dajin/Anaconda3/chormdriver/chromedriver.exe")
driver.get("https://search.naver.com/search.naver?where=news&sm=tab_pge&query=%EC%BD%94%EB%A1%9C%EB%82%98%20%EB%B8%94%EB%A3%A8%20%2B%20%EC%97%AC%ED%96%89&sort=0&photo=3&field=0&pd=3&ds=2020.09.01&de=2021.09.01&cluster_rank=21&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:from20200901to20210901,a:all&start="+str(n))
driver.find_element_by_css_selector("#nx_search_form > fieldset > button > i").click()

while n < 5:
    driver.implicitly_wait(3)
    try:
        for i in range(n*10-9,n*10+1,1): 
            data = {}
            driver.find_element_by_xpath('//*[@id="sp_nws'+str(i)+'"]/div/div/div[1]/div[2]/a[2]').click()
            driver.switch_to.window(driver.window_handles[-1])
            time.sleep(5)
            html = driver.page_source
            soup = bs(html,"html.parser")

            title = soup.select('#articleTitle')[0].get_text()
            print(title)
            data['title'] = soup.select('#articleTitle')[0].get_text()    
            contents = soup.select('#articleBodyContents')[0].get_text().replace('\n', " ")

            print(contents)
            data['content'] = soup.select('#articleBodyContents')[0].get_text().replace('\n', " ")
            naver_list.append(data)
            driver.close()
            driver.switch_to.window(driver.window_handles[0])
        driver.find_element_by_class_name('btn_next').click()
        n += 1
    except:
        pass
    #('#main_pack > div.api_sc_page_wrap > div > a.btn_next')

작게, 더 가볍게… 코로나 시대 재즈바의 부활
     // flash 오류를 우회하기 위한 함수 추가 function _flash_removeCallback() {}  성수동·연남동·후암동…'2세대 재즈바’ 시대가 왔다<문화부> 재즈바_디도재즈라운지/ 이신영 영상미디어 기자										지난달 8일 서울 광진구 구의역 옆 골목. 순댓국밥 등 맛집들이 즐비한 거리 안에서 재즈 라이브 연주가 흘러나온다. 역에서 1분 정도 떨어진 건물 지하에 있는 ‘디도재즈라운지’다.스무 개 남짓한 테이블. 예쁘고 멋지게 차려입고 데이트 온 남녀, 혹은 퇴근 후 혼자 음악을 즐기러 온 직장인들은 입구에서 체온 체크와 QR코드 등록을 한 후 자리에 앉는다.이날 연주자는 ‘주빈 콰르텟’. 피아노와 보컬의 주빈, 기타 서주환, 베이스 전제곤, 바이올린 정윤아, 첼로 김현아로 이루어진 젊은 악단이다. 샹송 같기도 하고, 클래식 같기도 한, 프랑스 재즈를 연주한다. 공연이 끝나고 쉬는 시간.										“오늘 기념일 맞은 커플 있나요?”“저희요!”“선물로 저희 앨범 ‘나의 작은 여행(Mon petit Voyage)’을 드리겠습니다.”CD 선물을 받은 커플은 “평소 재즈를 좋아한다는 생각은 못했는데, 이렇게 와서 들으니 데이트 분위기가 좋아지는 것 같다”고 말했다. 주빈은 “코로나로 공연할 곳이 많이 줄어든 상황에서 우리 같은 신예 뮤지션들에게 작은 재즈바는 좋은 공연 장소이자 홍보 공간”이라고 말했다.◇작고 가벼워진 2세대 재즈바 등장코로나로 재즈가 부활하고 있다. 최근 성수동, 연남동, 을지로 등 잘나간다는 거리에는 어김없이 재즈가 흘러나온다.서울 강남구 신사동에 위치한 재즈바‘더비스’. /더비스										재즈란, 19세기 후반 미 뉴올리언스의 아프리카계 미국인 문화에서 탄생해 20세기 초반부터 전 세계적으로 유행한 음악이다. 국내에는 1994년 드라마 ‘사랑을 그대 품 안에’에서 주인공 차인표가 색소폰 연주하는 모습으로 재즈 붐이 일었다. 미국 색소폰 연주자 케니 지의 인기도 국내 재즈 열풍에 한몫했다. 1세대 재즈바인 종로 천년동안도, 압구정 원스인어블루문(이하 블루문) 등이 이때쯤 생겼다.그러나 어느 순간부터 재즈의 인기는 식어갔다. 올댓재즈 등 1세대 재즈바들이 문을 닫았다. 터보의 ‘어느 째즈바’(1996년) 가사 속 “너무나 슬픈 음악 선율과 담배 연기, 희뿌연 구석 자리”는 젊은 층 취향이 아니었다.최근 문을 여는 2세대 재즈바들은 작고 가볍다. 애호가들이 모이는 아지트라기보단, 음악을 들으며 와인 한 잔 즐기고 싶은 사람들이 모인다. 인스타그램으로 출연자를 알리고, 인스타그램 라이브로 공연 중계도 한다. 유튜브로 신청곡도 받는다.<문화부> 재즈바_포지티브제로라운지 / 이신영 영상미디어 기자										이런 2세대 재즈바의 시작은 2017년 서울 성수동 연무장길에 문을 연 ‘포지티브 제로 라운지(이하 포지티브)’가 꼽힌다.당시 다양한 아티스트가 모이는 공간을 만들고 싶었던 김시온 팀포지티브제로(TPZ) 대표는 임차료가 싼 곳을 찾다가 성수동 수제화 공장이 있는 연무장길 지하를 임차했다.“당시만 해도 연무장길은 카페 하나 없는 휑한 거리였어요. 우리 공간을 방문하는 사람들 말이, 오는 길이 너무 무섭다는 거예요. 음악 소리라도 나와야 할 것 같아 라이브 연주를 생각했고, 음악을 들으면서 대화를 나눠야 하니 재즈를 생각했죠. 이왕이면 재즈 스탠다드(유명한 재즈곡)가 아닌 젊은 뮤지션들이 자신들의 창작곡을 연주할 수 있는 공간이 되길 원했고요.”올해 5월 디도 재즈라운지를 오픈한 이순성 대표는 “디도 덕분에 구의역 거리가 제2의 성수동이 되길 바란다”고 말했다.<문화부> 재즈바_포지티브제로라운지 / 이신영 영상미디어 기자										◇재즈, 코로나 시대 재택근무에도 좋아현재 20~30대들은 재즈를 영화로 접한 경우가 많다. 최근 인기를 끈 ‘라라랜드’, ‘위플래쉬’, ‘소울’, ‘본투비 블루’, ‘그린북’ 등이 대표적인 재즈 입문 영화다. 포지티브에 있던 김보미(26)는 “지난해 픽사의 ‘소울’을 보면서 재즈에 푹 빠졌다”고 말했다.코로나 시대, 재택근무와 혼술 배경음악으로도 인기다. 음악 스트리밍 플랫폼 플로 관계자는 “20~39세의 일(日)평균 재즈 청취 시간이 작년 하반기 대비 올 상반기에 7.2% 증가했다”고 말했다.젊은 유학파 재즈 아티스트도 많아졌다.포지티브에서 공연한 ‘이상근 퀄텟(베이스 이상근, 기타 송준호, 피아노 장현승, 드럼 김영민)’을 이끄는 이상근(25)씨는 고등학교 때 음악 선생님 추천으로 재즈 뮤지션 ‘찰리 파커’ 음악을 접한 후 네덜란드로 유학을 다녀왔다. 지금 멤버는 인스타그램으로 모집했다.“젊은 재즈 뮤지션 대부분은 혼자 유학한 사람이 많아 인맥이 거의 없거든요. 각자 인스타그램으로 공연하는 영상을 올려놓고, 자기와 잘 맞겠다 싶은 사람들에게 같이 하자고 DM(다이렉트 메시지)을 보내죠. 그렇게 해도 다들 긍정적으로 답변을 주더라고요.”
[허백윤의 아니리] 올여름, 더욱 간절한 음악 여행/문화부 기자
     // flash 오류를 우회하기 위한 함수 추가 function _flash_removeCallback() {}  허백윤 문화부 기자푸른 하늘과 싱그러운 녹음 사이를 파고들 것만 같은 클래식 선율. 유럽 속 음악의 도시마다 이 계절을 화려하게 꾸미는 음악 축제 소식이 여행을 가기 어려운 지금 더욱 꿈만 같다. 연주자들과 관객들에게는 물론 지구 반대편까지 길고 아득한 코로나19 팬데믹의 어둠마저 밝히는 설렘을 안긴다.독일에선 최고 와인 생산지로 꼽히는 라인가우에서 지난 6월 26일(현지시간)부터 음악제가 열리고 있다. 다음달 9일까지 계속되는 올해 라인가우 음악 페스티벌에서는 바이올리니스트 김봄소리가 ‘주목받는 연주자’(Focus Artist)로 선정돼 모차르트 바이올린 협주곡 5곡 전곡을 연주하기도 한다.지난달 17일 막을 연 오스트리아 잘츠부르크 페스티벌에서는 모차르트와 지휘자 카라얀이 태어난 음악 명소답게 100여회 다채로운 무대들이 오는 31일까지 이어진다. 1920년부터 매년 여름을 장식한 축제는 올해도 안드리스 넬손스, 리카르도 무티가 이끄는 빈 필하모닉 오케스트라, 다니엘 바렌보임의 서동시집 오케스트라 등 웅장한 무대와 이고어 레비트, 언드라시 시프, 예브게니 키신, 다닐 트리포노프 등의 화려한 피아노 독주를 만날 수 있다.지난달 21일 문을 연 오스트리아 브레겐츠 페스티벌에서는 수상무대에서 오페라 ‘리골레토’를 선보였다. 궁정 광대 리골레토가 만토바 공작의 만행에 분노하면서 복수하는 비극을 기괴한 무대 디자인으로 선명하게 표현했다. 브레겐츠 페스티벌 홈페이지조성진 리사이틀로 문을 연 폴란드 두슈니키 즈드루이 국제 쇼팽 피아노 페스티벌(8월 6~14일), 1895년부터 매년 영국 런던에서 열리는 BBC 프롬스(7월 30일~9월 11일), 호수 위 무대에서 오페라 ‘리골레토’ 등을 즐기며 황홀한 분위기를 만끽할 수 있는 오스트리아 브레겐츠 페스티벌(7월 21일~8월 22일) 등 유럽 곳곳에서 음악이 여름 향기를 더욱 짙게 한다.언젠가 꼭 갈 수 있기를 바라며 곧 우리 가까이서 열리는 음악 축제들에 주목해 본다. 뜨거운 열기 가득한 도심부터 자연과 함께하는 선율까지 우리나라에서도 아름다운 음악이 이 계절을 빛내고 있다.지난달 23일간 168명의 연주자가 브람스의 실내악 전곡은 물론 교향곡 전곡을 투 피아노 버전으로도 연주했던 더하우스콘서트의 ‘줄라이 페스티벌’과 ‘산’(Alive)을 주제로 생동감 넘치는 향연을 펼친 평창대관령음악제가 클래식 애호가들과 깊이 소통하며 여름을 알렸다. 이달에도 다양한 연주자들이 호흡을 맞추고 소통하며 진중하게 음악의 의미를 되새기는 무대들이 잇따른다.서울 롯데콘서트홀은 오는 13일부터 22일까지 ‘클래식 레볼루션’으로 고전부터 낭만주의에 이르는 방대한 레퍼토리를 남긴 브람스와 탄생 100주년을 맞이한 피아졸라의 열정 가득한 음악들을 비춘다. 서울시립교향악단, 코리안심포니오케스트라, 인천시향이 브람스 교향곡을 연주하고 선우예권, 이진상이 피아노 협주곡을, 김동현이 바이올린 협주곡을 각각 협연한다.노부스 콰르텟은 브람스 현악사중주 전곡과 피아노 5중주(선우예권 협연), 현악 6중주(비올라 이한나·첼로 박유신 협연), 클라리넷 5중주(김한 협연)에 도전한다. 오케스트라와 바이올린, 반도네온, 기타가 어우러지는 피아졸라의 강렬함도 무대를 달군다.서울 예술의전당도 27~29일 첫 여름음악축제를 연다. 신진 음악인들에게 기회를 주고 제작사와 기획사, 매니지먼트가 상생하기 위한 취지의 릴레이 음악회로 연주자들을 모두 공모로 엄선했다. 22대1의 경쟁률을 뚫고 선발된 이승원의 지휘로 SAC(예술의전당) 페스티벌 오케스트라의 오프닝 이후 아레테 콰르텟, 기타 듀오 김진세·박지형 등 14대1의 경쟁을 거친 13개 연주단체가 종일 바통을 잇는다.1994년 강효 줄리아드음악원 교수가 한국 등 8개국 젊은 현악 연주자들을 모아 꾸린 실내악단 세종솔로이스츠가 여는 ‘힉 엣 눙크’(Hic et Nunc)도 오는 22일부터 다음달 13일까지 서울 예술의전당과 서울대 등에서 관객을 만난다. 라틴어로 ‘여기 그리고 지금’이란 뜻으로 세계 예술계 트렌드를 담은 새로운 시도를 나누기 위한 자리로 올해는 스티븐 김 바이올린 리사이틀, 콘서트 오페라 ‘람메르무어의 루치아’ 등이 열린다.이 여름, 음악 여행으로라도 무더위와 코로나 블루를 달래길 바라는 간절한 마음이 다채로운 무대들의 의미를 되새기게 한다.

In [11]:
naver_list = pd.DataFrame(naver_list)
naver_list

,title,content
0,"[아무튼, 주말] “뽑을 사람 없어 절망”…대한민국은 지금 ‘대선 블루’",// flash 오류를 우회하기 위한 함수 추가 function _flas...
1,외래관광객 71% “내년 해외여행 가고파”…포스트 코로나에 거는 소망,// flash 오류를 우회하기 위한 함수 추가 function _flas...

In [7]:
#네이버 블로그 - 코로나 블루 ? 여행 ?

In [9]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import quote

In [10]:
query = "코로나블루 + 여행"
url = "https://search.naver.com/search.naver?where=nexearch&query=" + query

In [233]:
cafe_list = []
for i in range(1, 321, 10):
    raw = requests.get("https://section.cafe.naver.com/ca-fe/home/search/articles?q=%EC%97%AC%ED%96%89&p="+str(n)+"&pr=6&in=%EC%BD%94%EB%A1%9C%EB%82%98,%20%EC%9A%B0%EC%9A%B8,%20%EC%97%AC%ED%96%89" ,
                       headers={'User-Agent':'Mozilla/5.0'})
    html = BeautifulSoup(raw.text, "html.parser")
    cafe = html.select("ul.list_news > li")
    
    for c in cafe:
        t={}
        title = c.select_one("div.detail_area").text
        URL = c.select_one("div.detail_area")['href']
        t['title'] = c.select_one("a.news_tit").text
        cafe_list.append(t)
        t['URL'] = c.select_one("div.detail_area")['href']
        cafe_list.append(t)  
        
for i in range(1,len(cafe_list),2):
    cafe_list[i].values()

In [238]:
cafe

[]

In [145]:
from selenium.webdriver.common.keys import Keys
driver = webdriver.Chrome("C:/Users/dajin/Anaconda3/chormdriver/chromedriver.exe")
driver.get("https://section.cafe.naver.com/ca-fe/")
driver.find_element_by_css_selector('#header > div.snb_area > div > div.SearchArea > form > fieldset > div > div > div.FormInputText > input').send_keys('코로나블루 여행')
driver.find_element_by_css_selector('#header > div.snb_area > div > div.SearchArea > form > fieldset > div > div > div.FormInputText > input').send_keys(Keys.ENTER)

driver.find_element_by_css_selector('#app > div > div.container > div > div.SectionSearchContent > div.section_search_content > div > div.article_list_area > ul > li:nth-child(1) > div > div > div > a').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"#app > div > div.container > div > div.SectionSearchContent > div.section_search_content > div > div.article_list_area > ul > li:nth-child(1) > div > div > div > a"}
  (Session info: chrome=95.0.4638.54)