In [2]:
#- csv 파일 가공
import requests
from pandas import DataFrame
from bs4 import BeautifulSoup

In [3]:
import re
from datetime import datetime
import os

1. 코로나19로 인한 감정변화

In [298]:
feel = pd.read_csv('feel.csv')

In [299]:
feel.style.highlight_max()

In [4]:
import seaborn as sns

2. 코로나19 이후 일상 활동 변화

In [29]:
life = pd.read_csv('life.csv', encoding='utf-8')

In [296]:
life.style.highlight_max()

3.디지털 역세권 – 21,20,19년도

In [249]:
#디지털 문화 역세권

'''
fclt_cnt : 시설 수 
sccnt : 검색량 
FILE_NAME : 파일명 
base_ymd : 기준일 
sgnr_nm : 시군구 
adstrd_cd : 행정동 
sccnt_ym : 년월  
mlsfc : 시설 분류
ctprvn_nm : 시군구 
'''

'\nfclt_cnt : 시설 수 \nsccnt : 검색량 \nFILE_NAME : 파일명 \nbase_ymd : 기준일 \nsgnr_nm : 시군구 \nadstrd_cd : 행정동 \nsccnt_ym : 년월  \nmlsfc : 시설 분류\nctprvn_nm : 시군구 \n'

In [266]:
Dpos = pd.read_csv('Digital.csv')

In [267]:
Dpos

,ctprvn_nm,sgnr_nm,adstrd_cd,sccnt_ym,mlsfc,fclt_cnt,sccnt,FILE_NAME,base_ymd
0,강원도,강릉시,4215061500,202001,공공도서관,4,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
1,강원도,고성군,4282025300,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
2,강원도,동해시,4217054000,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
3,강원도,삼척시,4223057000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
4,강원도,속초시,4221056000,202001,공공도서관,3,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
...,...,...,...,...,...,...,...,...,...
768,충청북도,제천시,4315060500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
769,충청북도,증평군,4374525000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
770,충청북도,진천군,4375025000,202001,문예회관,1,896.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
771,충청북도,청주시,4311251000,202001,문예회관,2,NaN,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
772,충청북도,충주시,4313051500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101

In [268]:
# nan 값 지우기 or 0으로 나두기 
Dpos.isnull().sum()

ctprvn_nm      0
sgnr_nm        0
adstrd_cd      0
sccnt_ym       0
mlsfc          0
fclt_cnt       0
sccnt        392
FILE_NAME      0
base_ymd       0
dtype: int64

In [269]:
Dpos =Dpos.dropna()
Dpos

,ctprvn_nm,sgnr_nm,adstrd_cd,sccnt_ym,mlsfc,fclt_cnt,sccnt,FILE_NAME,base_ymd
0,강원도,강릉시,4215061500,202001,공공도서관,4,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
3,강원도,삼척시,4223057000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
21,경기도,고양시 일산서구,4128759000,202001,공공도서관,5,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
22,경기도,과천시,4129053000,202001,공공도서관,3,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
23,경기도,광명시,4121058000,202001,공공도서관,5,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
...,...,...,...,...,...,...,...,...,...
767,충청북도,음성군,4377025000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
768,충청북도,제천시,4315060500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
769,충청북도,증평군,4374525000,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
770,충청북도,진천군,4375025000,202001,문예회관,1,896.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101
772,충청북도,충주시,4313051500,202001,문예회관,1,0.0,KC_597_DGT_CLT_STATN_BIZAEA_2021,20200101

In [270]:
Dpos = Dpos.drop(Dpos.columns[7], axis =1)

In [277]:
t1 = Dpos['sccnt'] >0.0

In [289]:
Dpos[t1].sort_values('sccnt', ascending = False).head(10)

    ctprvn_nm sgnr_nm   adstrd_cd  sccnt_ym  mlsfc  fclt_cnt  sccnt  base_ymd
269       강원도     횡성군  4273031000    202001    박물관         1  997.0  20200101
505     광주광역시      동구  2911073000    202001    미술관         8  964.0  20200101
770      충청북도     진천군  4375025000    202001   문예회관         1  896.0  20200101
547      전라남도     해남군  4682025000    202001    미술관         1  885.0  20200101
460       강원도     동해시  4217065000    202001    미술관         1  845.0  20200101
176     인천광역시      남구  2817770000    202001  공공도서관         7  801.0  20200101
542      전라남도     순천시  4615033000    202001    미술관         1  745.0  20200101
395     인천광역시     연수구  2818563000    202001    박물관         3  720.0  20200101
434      충청남도     금산군  4471031000    202001    박물관         4  713.0  20200101
500      경상북도     울진군  4793036000    202001    미술관         1  670.0  20200101

In [290]:
Dpos[t1].mlsfc.value_counts()

미술관      13
박물관      12
공공도서관     8
문예회관      3
Name: mlsfc, dtype: int64

In [302]:
Dpos[t1].ctprvn_nm.value_counts()

전라남도     6
경기도      5
강원도      4
충청북도     4
부산광역시    3
충청남도     3
인천광역시    3
광주광역시    3
전라북도     2
경상북도     2
서울특별시    1
Name: ctprvn_nm, dtype: int64

4. 문화역세권 시설 연령대별 관심도

In [308]:
"""
name 
___________________________
ctprvn_nm : 시도
signgu_nm : 시군구
signgu_cd : 행정동 시군구코드
residnt_cnt : 인구 수
category : 분류
age_10 : 10대 문화 지수
age_20 : 20대 문화 지수
age_30 : 30대 문화 지수
age_40 : 40대 문화 지수
age_50 : 50대 문화 지수
age_60 : 60대 문화 지수
age_70 : 70대 문화 지수
FILE_NAME : 파일명
base_ymd : 기준일

데이터 시각화 기준
1. 시도/시군구의 중요성이 그리 높지 않음 but 디지털 역세권에서 나눠져 있기 때문에 없애면 안됨 
2. 분류가 문화지를 담고 있으므로 분류 기준 10-70대의 문화 지수를 시각화 
3. 이 때 제일 높은 문화 지수와 낮은 지수의 연령별을 먼저 살펴봄
ex. 강원도 강릉시의 경우 도서관 문화지는 10,20대가 문화 지수가 공동으로 높으며 60,70대에게 제일 낮음 
박물관의 경우는 30대의 문화 지수가 높으며 60,70대에 여전히 낮은 것을 알 수 있다. 
그리고 전시관의 경우 강릉시에서는 문화지수가 대체적으로 다 낮음을 나타낸다.

서울 특별시 종로구의 경우에는 도서관 문화지는 10,20대가 문화 지수가 공동으로 높으며 60,70대에게 제일 낮음 
박물관의 경우는 30대의 문화 지수가 높으며 60,70대에 여전히 낮은 것을 알 수 있다. 
그리고 전시관의 경우 강릉시보다 높지만 문화지수가 대체적으로 다 낮음을 나타낸다.
______________________
"""

'\nname \n___________________________\nctprvn_nm : 시도\nsigngu_nm : 시군구\nsigngu_cd : 행정동 시군구코드\nresidnt_cnt : 인구 수\ncategory : 분류\nage_10 : 10대 문화 지수\nage_20 : 20대 문화 지수\nage_30 : 30대 문화 지수\nage_40 : 40대 문화 지수\nage_50 : 50대 문화 지수\nage_60 : 60대 문화 지수\nage_70 : 70대 문화 지수\nFILE_NAME : 파일명\nbase_ymd : 기준일\n\n데이터 시각화 기준 \n______________________\n'

In [303]:
age_pos = pd.read_csv('연령별_문화역세권.csv')

In [327]:
age_pos[age_pos['SIGNGU_NM'] == '강릉시']

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
0,강원도,강릉시,42150,213189,도서관,168.8,168.8,114.8,94.0,54.4,33.6,33.6,20210201
252,강원도,강릉시,42150,213189,공연장,122.5,122.5,95.0,66.5,48.0,16.0,16.0,20210201
434,강원도,강릉시,42150,213189,전시관,29.2,29.2,24.8,15.2,12.8,9.8,9.8,20210201
546,강원도,강릉시,42150,213189,박물관,170.0,170.0,229.5,185.3,125.8,90.1,90.1,20210201

In [336]:
age_pos[age_pos['CATEGORY'] == '전시관'].sort_values('AGE_10', ascending = False).head(10)

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
504,서울특별시,종로구,11110,149549,전시관,277.4,277.4,235.6,144.40,121.6,93.1,93.1,20210201
533,제주특별자치도,서귀포시,50130,181929,전시관,175.2,175.2,148.8,91.20,76.8,58.8,58.8,20210201
544,충청북도,청주시,44111,844815,전시관,131.4,131.4,111.6,68.40,57.6,44.1,44.1,20210201
534,제주특별자치도,제주시,50110,492072,전시관,131.4,131.4,111.6,68.40,57.6,44.1,44.1,20210201
479,광주광역시,동구,29110,102645,전시관,102.2,102.2,86.8,53.26,44.8,34.3,34.3,20210201
453,경기도,안산시,41273,654210,전시관,87.6,87.6,74.4,45.60,38.4,29.4,29.4,20210201
519,전라남도,진도군,46900,30748,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
502,서울특별시,용산구,11170,230151,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
497,서울특별시,서초구,11650,425431,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201
459,경기도,용인시,41461,1074790,전시관,73.0,73.0,62.0,38.00,32.0,24.5,24.5,20210201

In [337]:
age_pos[age_pos['SIGNGU_NM'] == '종로구']

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
164,서울특별시,종로구,11110,149549,도서관,295.4,295.4,200.9,164.5,95.2,58.8,58.8,20210201
378,서울특별시,종로구,11110,149549,공연장,3332.0,3332.0,2584.0,1808.8,1305.6,435.2,435.2,20210201
504,서울특별시,종로구,11110,149549,전시관,277.4,277.4,235.6,144.4,121.6,93.1,93.1,20210201
675,서울특별시,종로구,11110,149549,박물관,350.0,350.0,472.5,381.5,259.0,185.5,185.5,20210201

In [309]:
age_pos.isnull().sum()

CTPRVN_NM      0
SIGNGU_NM      3
SIGNGU_CD      0
RESIDNT_CNT    0
CATEGORY       0
AGE_10         0
AGE_20         0
AGE_30         0
AGE_40         0
AGE_50         0
AGE_60         0
AGE_70         0
FILE_NAME      0
BASE_YMD       0
dtype: int64

In [311]:
age_pos =age_pos.dropna()
age_pos.shape

(745, 14)

In [313]:
age_pos = age_pos.drop(age_pos.columns[12], axis =1)

In [314]:
age_pos.head()

,CTPRVN_NM,SIGNGU_NM,SIGNGU_CD,RESIDNT_CNT,CATEGORY,AGE_10,AGE_20,AGE_30,AGE_40,AGE_50,AGE_60,AGE_70,BASE_YMD
0,강원도,강릉시,42150,213189,도서관,168.8,168.8,114.8,94.0,54.4,33.6,33.6,20210201
1,강원도,고성군,42820,26798,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
2,강원도,동해시,42170,90560,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
3,강원도,삼척시,42230,65409,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201
4,강원도,속초시,42210,82636,도서관,126.6,126.6,86.1,70.5,40.8,25.2,25.2,20210201

_______________________________________________________카페 오류(데이터 삭제)__________________________________________________________

In [3]:
#네이버 여행 -카페

In [1]:
import requests
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import time
import re

In [7]:
#네이버 카페  - 코로나 블루 ? 여행 ?

In [9]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import quote

In [10]:
query = "코로나블루 + 여행"
url = "https://search.naver.com/search.naver?where=nexearch&query=" + query

In [233]:
cafe_list = []
for i in range(1, 321, 10):
    raw = requests.get("https://section.cafe.naver.com/ca-fe/home/search/articles?q=%EC%97%AC%ED%96%89&p="+str(n)+"&pr=6&in=%EC%BD%94%EB%A1%9C%EB%82%98,%20%EC%9A%B0%EC%9A%B8,%20%EC%97%AC%ED%96%89" ,
                       headers={'User-Agent':'Mozilla/5.0'})
    html = BeautifulSoup(raw.text, "html.parser")
    cafe = html.select("ul.list_news > li")
    
    for c in cafe:
        t={}
        title = c.select_one("div.detail_area").text
        URL = c.select_one("div.detail_area")['href']
        t['title'] = c.select_one("a.news_tit").text
        cafe_list.append(t)
        t['URL'] = c.select_one("div.detail_area")['href']
        cafe_list.append(t)  
        
for i in range(1,len(cafe_list),2):
    cafe_list[i].values()

In [238]:
cafe

[]

In [145]:
from selenium.webdriver.common.keys import Keys
driver = webdriver.Chrome("C:/Users/dajin/Anaconda3/chormdriver/chromedriver.exe")
driver.get("https://section.cafe.naver.com/ca-fe/")
driver.find_element_by_css_selector('#header > div.snb_area > div > div.SearchArea > form > fieldset > div > div > div.FormInputText > input').send_keys('코로나블루 여행')
driver.find_element_by_css_selector('#header > div.snb_area > div > div.SearchArea > form > fieldset > div > div > div.FormInputText > input').send_keys(Keys.ENTER)

driver.find_element_by_css_selector('#app > div > div.container > div > div.SectionSearchContent > div.section_search_content > div > div.article_list_area > ul > li:nth-child(1) > div > div > div > a').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"#app > div > div.container > div > div.SectionSearchContent > div.section_search_content > div > div.article_list_area > ul > li:nth-child(1) > div > div > div > a"}
  (Session info: chrome=95.0.4638.54)